input[type="radio"] {
  margin: 0 5px 0 0;
  vertical-align: middle;
}
input[type="checkbox"] {
  margin: 0 5px 0 0;
  vertical-align: middle;
}

@media screen and (max-width: 1024px) {
  .btns-wraper,
  .stack3 {
    margin: 1rem 0;
  }
}
