.how-we-work-section {
  background-color: #1f2937;
  padding: 60px 0;
  text-align: center;
}

.section-title {
  color: #f5f5dc;
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 40px;
}

.step-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.step1,
.step3,
.step5 {
  background-color: #f4ad15;
  color: #1f2937;
}
.step2,
.step4,
.step6 {
  background-color: #fff;
  color: #1f2937;
}
.step {
  width: 420px;
  position: relative;
  padding: 25px;
  margin: 25px;
  border-radius: 4px;
  box-shadow: 0 2px 15px rgba(255, 255, 255, 0.3);
}

.step-title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

.step-description {
  font-size: 16px;
}

.step1::after {
  content: "1";
  position: absolute;
  font-weight: bold;
  font-size: 20px;
  top: -15%;
  left: 50%;
  transform: translate(-50%);
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 500%;
  background-color: #f5f5dc;
}
.step2::after {
  content: "2";
  position: absolute;
  font-weight: bold;
  font-size: 20px;
  top: -15%;
  left: 50%;
  transform: translate(-50%);
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: #f4ad15;
}
.step3::after {
  content: "3";
  position: absolute;
  font-weight: bold;
  font-size: 20px;
  top: -15%;
  left: 50%;
  transform: translate(-50%);
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 500%;
  background-color: #f5f5dc;
}
.step4::after {
  content: "4";
  position: absolute;
  font-weight: bold;
  font-size: 20px;
  top: -15%;
  left: 50%;
  transform: translate(-50%);
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 500%;
  background-color: #f4ad15;
}
.step5::after {
  content: "5";
  position: absolute;
  font-weight: bold;
  font-size: 20px;
  top: -15%;
  left: 50%;
  transform: translate(-50%);
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 500%;
  background-color: #f5f5dc;
}
.step6::after {
  content: "6";
  position: absolute;
  font-weight: bold;
  font-size: 20px;
  top: -15%;
  left: 50%;
  transform: translate(-50%);
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 500%;
  background-color: #f4ad15;
}
