@keyframes slideInTop {
  from {
    transform: translateY(200px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes slideInBottom {
  from {
    transform: translateY(-150px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.animation {
  animation: slideInTop 1s cubic-bezier(0.61, 1, 0.88, 1);
}
.text-animation {
  animation: slideInRight 1.7s cubic-bezier(0.85, 0.18, 0.27, 0.96);
}
.preturi {
  animation: slideInBottom 1.7s cubic-bezier(0.85, 0.18, 0.27, 0.96);
}
