.button {
  position: absolute;
  right: 0;
  margin-right: 3rem;
  border: 3px solid #f4ad15;
  border-radius: 7px;
  padding: 0.2rem 2rem;
  cursor: pointer;
  transition: 0.2s ease-in;
  color: white;
}
.button:hover {
  background-color: #f4ad15;
}
.close-button {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 3px solid #f4ad15;
  border-radius: 7px;
  padding: 0.2rem 2rem;
  cursor: pointer;
  transition: 0.2s ease;
}
.close-button:hover {
  background-color: #f4ad15;
}
.language {
  display: inline-block;
}
